*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #5B88CB;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 30px 400px;
    font-size: 20px;
}

.cabecalho-voltar-item {
    display: inline-block;
    font-size: 20px;
}

.escola-imagem{
    width: 30%;
}

#escola{
    background-image: url(cef.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.escola-div-conteudo{
    width: 40%;
}


.escola-titulo{
    padding: 30px 0;
}

.rodape{
    background-color: #5B88CB;
    text-align: center;
}

